*{
    box-sizing: border-box;

}

.main-header {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://source.unsplash.com/K5dAn1gOFEc);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 98vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    position: relative;
}

.main-nav {
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color:#fff;

}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 100px;

}

ul  a {
    display: inline-block;
    padding: 28px 48px;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;

}
ul a:hover{
    background: #0e60bd;
}
.contenedor {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 33.2%;
    transform: translate(-50%, -50%);
    text-align: justify;
    
}
.contenedor h1{
    font-size: 1.5rem;
}
.contenedor a{
    font-size: 1.3rem;
    display: inline-block;
    padding:15px 20px;
    background: #4141ef;
    color:#fff;
    text-decoration: none;

}
.contenedor a:hover{
    background: #6868f1;
    border:2px solid #fff;
    padding: 13px 18px;
}
div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
}
div.galeria img{
    width: 100%;
    height: auto;
}
div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.pie{
    text-align: center;
    text-shadow: 2px 2px 2px 5px purple;
    padding: 10px;
    background: white;
}